{% extends 'base.html' %}
{% block content %} 

<form method="post">
  {% csrf_token %}
  
  {% if success == 'success' %}
    <div class="alert alert-success" role="alert">
      Consulta agendada com sucesso! Um email será enviado confirmando os dados.
    </div>
  {% endif %}
  <div class="form-group ">
    {{ form.name.label_tag }}
    {{ form.name }}
    {% if form.name.errors %}
    <div id="alert" class="alert alert-danger">{{ form.name.errors }}</div>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.telephone.label_tag }}
    {{ form.telephone }}
    {% if form.telephone.errors %}
    <div id="alert" class="alert alert-danger">{{ form.telephone.errors }}</div>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.email.label_tag }}
    {{ form.email }}
    {% if form.email.errors %}
    <div id="alert" class="alert alert-danger">{{ form.email.errors }}</div>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.date.label_tag }}
    {{ form.date }}
    {% if form.date.errors %}
    <div id="alert" class="alert alert-danger">{{ form.date.errors }}</div>
    {% endif %}
    {% if date_error %}
    <div id="alert" class="alert alert-danger">{{date_error}}</div>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.hour.label_tag }}
    {{ form.hour }}
    {% if form.hour.errors %}
    <div id="alert" class="alert alert-danger">{{ form.hour.errors }}</div>
    {% endif %}
  </div>
  <div class="form-group">
      <h5>Alguns horarios disponíveis: </h5>
      {% for available_schedule in available_schedules %}
      <p>{{ available_schedule }}</p>
      {% endfor %}
  </div>
  {% if success != 'show' %}
  <div class="form-group">
    <label for="health-insurance">Convênio: </label>
    <select class="form-control" id="health-insurance">
      <option value="sim">sim</option>
      <option value="não" selected>não</option>
    </select>
  </div>
  {% endif %}
  <div id="what-health-insurance" class="form-group">
    {{ form.healthInsurance.label_tag }}
    {{ form.healthInsurance }}
  </div>
  {% if success != 'success' %}
  <button id="botao-agenda" type="submit" class="btn btn-primary form-group">Agendar consulta</button>
  {% endif %}
    
</form>


{% endblock %}